body {
    background-color: #f5f7f8;
}

.top-blue {
    height: 125px;
    background: #295686;
    position: absolute;
}

.icon {
    background-size: 100% 100%;
    border: 0;
    width: 1.8rem;
    height: 1.8rem;
    min-width: 1.8rem;
    min-height: 1.8rem;
}
.icon-chosen {
    background-size: 100% 100%;
    border: 0;
    width: 1.1rem;
    height: 1.1rem;
    min-width: 1.1rem;
    min-height: 1.1rem;
}
.navigation-icons {
    color: white;
}

.btn-stake {
    text-decoration: underline;
    padding-right: 1em;
    width: 6.2em;
}

.table td, .table th {
    padding: .40rem;
    vertical-align: middle;
}

/*.supply-balance-details {*/
/*    margin-top: -17em;*/
/*    box-shadow: none;*/
/*    height: 50px;*/
/*}*/
